@font-face {
   font-family: '29LT Kaff Medium';
   font-display: swap;
   src: url('file:///C:/Users/Wale%20Joseph/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-04-22_172355/fonts/29LT%20Kaff%20Medium/font.ttf');
}
